.container {
}

.header{

}
.mainContainer{
  height: 100vh;
  position: relative;
}
.searchBarContainer{
  display: flex;
  position: relative;
  align-items: center;
  width: 35em;
}
@media(max-width:500px){
  
.searchBarContainer{
  width: 90vw;
}
}

.searchBarContainer input{
  padding: 12px 45px;
  height: 44px;
  border: 1px solid #dfe1e5;
  border-radius: 50px;
  width: 100%;
  outline: none;
}

.language a{
  color: #0070f3;
}

.language a:hover{
  text-decoration:underline !important;
}

.btn{
  text-transform: none !important;
  box-shadow: unset !important;
  font-weight: 400 !important;
  background: #f8f9fa !important;
}

.searchBarContainer input:focus,
.searchBarContainer input:hover,
.searchBarContainer:focus input,
.searchBarContainer:hover input{
  border-color: rgba(223,225,229,0);
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.magnify{
  position: absolute;
}
.magnifyIcon{
  width: 20px;
  height: 20px;
  color:#9aa0a6;
  fill: currentColor;
}

.voiceSearch{
  right:0;
  position: absolute;
}
.magnify, .voiceSearch{
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo{
  width:272px;
  position: relative;   
  height: 92px;
}

.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  position: absolute;
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  background-color: #f2f2f2;
  color:rgba(0,0,0,.54);
}
.footer div{
  width:100%;
}
.footer div:not(:last-child){
  border-bottom:1px solid #dadce0;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
